.dsk_only {
  display: none !important;
}

/* secion1 */
.set_tit{
  text-align: center;
}
.set_tit .tit{
  margin-bottom: 3rem;
  color: #444;
}
.set_tit img{
  margin: 7rem auto 6rem;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: hidden; 
  }

  .swiper-slide {
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
  }

  .swiper-slide img {
  display: block;
  width: 100%;
  min-width: 10rem;
  height: 25rem;
  object-fit: cover;
  }

  .swiper-slide {
  width: 80%;
  }

  .swiper-slide:nth-child(1n) {
  width: 60%;
  }

  .swiper-slide:nth-child(2n) {
  width: 50%;
  }

  .swiper-slide:nth-child(3n) {
  width: 30%;
  }

.info_top p.txt2{
  margin: 4rem auto 10rem;
  text-align: center;
}

.info_mid{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid_fir{
  text-align: center;
}
.mid_fir img{
  margin: 4rem auto;
}

.mid_sec{
  width: 33rem;
  height: 8rem;
  border-radius: 5rem;
  text-align: center;
  background-color: #E8E8E8;
  margin: 4rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mid_sec .info1{
  font-size: 2rem;
}

.mid_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.mid_content::before{
  content: '';
  top: -9rem;
  position: absolute;
  width: 0.2rem;
  height: 40rem;
  background-color: #ddd;
  z-index: -1;
}
.mid_content div{
  width: 33rem;
  height: 10rem;
  border-radius: 1rem;
  margin-top: 1.5rem;
  text-align: center;
  background-color: #E8E8E8;
}
.mid_content div:last-child{
  height: 13rem;
}
.mid_tit{
  font-size: 2rem;
  margin: 1rem auto;
}
.mid_tit em{
  font-style: normal;
  color: #B32828;
}


/* sectioln2 */
#section2 h2,
#section2 p
{ text-align: center;
  line-height: 2rem;
  margin-bottom: 4rem;
}

#section2 h2{margin-bottom: 2rem;}
#section2 p.txt1{margin-bottom: 4rem;}

.con_fir, .con_sec{
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 24rem;
}

.fir{
  position: relative;
  overflow: hidden;
}

.con_fir img, .con_sec img{
  height: 18rem;
  filter: grayscale();
  transition: 0.35s;
}
.con_fir div:first-child img{
  width: 30rem;
}
.con_fir div:hover img,
.con_sec div:hover img{
  filter: none;
}
.con_fir div:hover p,
.con_sec div:hover p{
  color: #b32828;
  font-weight: 700;
}


/* section3 */
.swiper02 {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding-left: 2rem;
}
.swiper02 .swiper-wrapper {
  display: flex;
}
.swiper02 .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 80%;
  height: 25rem;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: transform 0.3s;
  flex: 0 0 auto;
  margin: 4rem 1rem;
}

.swiper02 .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.3s;
}

.swiper_txt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.swiper_txt h3 {
  position: absolute;
  top: 40%;
  left: 25%;
  transform: translate(-25%, -45%);
  font-size: 1.6rem;
  color: #fff;
}

.swiper_txt p {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-20%, -65%);
  font-size: 1.4rem;
  color: #fff;
  line-height: 2rem;
}

.swiper_btn {
  position: absolute;
  bottom: -0.6rem;
  right: -0.5rem;
  background-color: #b32828;
  color: #fff;
  display: flex;
  width: 15rem;
  height: 6rem;
  border: 0.7rem solid #fff;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 3rem;
  box-shadow: 1rem 1rem rgba(0, 0, 0, 0.3);
}

.swiper02 .swiper-slide:hover img {
  transform: scale(1.2);
}

/* section4 */
  #section4 {
  background-image: 
    linear-gradient(to bottom, rgba(255,255,255,0.6), rgba(255,255,255,0)),
    url(../image/box.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-top: 0;
}

.news{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  flex-direction: column;
} 

.news li{
  width: 35rem;
  height: 13rem;
  display: flex;
  flex: 0 0 auto;
  box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  overflow: hidden;
  background-color: #fff;
}

.news li img{
  width: 16rem;
  height: 100%;
  object-fit: cover;
  object-position: top 0.1rem;
  transition: 0.35s;
}

.news_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  margin-left: 1.5rem;
}
.news_text h3{
  font-size: 1.5rem;
  margin-top: 1.2em;
}

.txt_bt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  opacity: 0;
}
a.new_btn {
  display: block;
  text-align: center;
  background-color: #fff;
  color: #B32828;
  border: 1px solid #B32828;
  width: 15rem;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 4px;
  margin: auto;
  transition: 0.35s;
  /* opacity: 0; */
}
.news_btn{
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  display: flex;
  color: #fff;
}

.txt_bt{
  opacity: 1;
}
a.new_btn:hover{
  background-color: #B32828;
  color: #fff;
}

/* 태블릿__________________________ */
@media screen and (min-width:768px) {
    .mob_only {
      display: none !important;
    }

    .dsk_only {
      display: block !important;
    }
  /* section1 */
    .swiper-slide img {
    height: 35rem;
    }

  .mid_fir{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    width: 70rem;
  }
  .info{
    text-align: center;
    font-size: 2.4rem;
    width: 25rem;
  }
  .info_img{
    flex: 1;
  }

  .mid_sec{
    width: 60rem;
    height: 10rem;
  }

  .mid_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  .mid_content::before{
    content: '';
    top: -9rem;
    position: absolute;
    width: 0.2rem;
    height: 50rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content div{
    width: 60rem;
    height: 15rem;
    border-radius: 1rem;
    margin-top: 1rem;
    text-align: center;
    background-color: #E8E8E8;
  }
  .mid_content div:last-child{
  height: 17.5rem;
}

  .mid_tit{
    font-size: 2.8rem;
    margin: 2rem auto;
  }
  .mid_tit em{
    font-style: normal;
    color: #B32828;
  }
  
  /* section2 */
  #section2 .rel .tit{
    margin-bottom: 4rem;
  }
  #section2 .rel .txt2{
    margin-bottom: 5rem;
    line-height: 2.5rem;
  }
  .con_fir, .con_sec{
    display: flex;
    justify-content: center;
    gap: 3rem;
    height: 40rem;
  }

  .fir{
    position: relative;
    overflow: hidden;
  }

  .con2,
  .con4 {
    transform: translateY(50px);
  }

  .con_fir img, .con_sec img{
    height: 30rem;
    filter: grayscale();
    transition: 0.35s;
  }
  .con_fir div:first-child img{
    width: 45rem;
  }

  .con_fir .txt2,
  .con_sec .txt2{
    margin-top: 1.5rem;
  }

  /* section3 */
.swiper02 .swiper-slide {
  width: 70%;
  height: 27rem;
}

  #section3 .tit{
    margin-left: 2rem;
  }
  .boxcon_wrap {
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    margin: 3rem auto;
    width: 100rem;
  }
  .swiper_txt h3 {
    left: 15%;
    transform: translate(-15%, -45%);
    font-size: 2.4rem;
  }

  .swiper_txt p {
    top: 65%;
    left: 10%;
    transform: translate(-10%, -65%);
    line-height: 2.8rem;
    font-size: 1.8rem;
  }
  .news .hidden{
    display: none;
  }
/* section4 */

  #section4 .tit{
    margin-left: 2rem;
  }
  .news{
    flex-direction: row;
  }
  .news li{
    display: block;
    width: 22rem;
    height: 35rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: #fff;
  }

  .news li img{
    width: 100%;
    height: 27rem;
    object-fit: cover;
    display: block;
  }

  .news_text{
    display: block;
    padding: 0.5rem;
    margin-left: 0;
  }
  
  .news_text h3{
    font-size: 1.6rem;
    margin: 1rem auto 0;
    padding: 0.5rem 1rem;
  }
  .news_text span{
    font-size: 1.4rem;
    margin: 1rem;
    opacity: 0;
  }

  a.new_btn {
    width: 19rem;
    padding: 1rem;
    font-size: 1.6rem;
    opacity: 0;
  }
  .news li:hover img{
    transform: scale(1.2);
    height: 13rem;
  }
  .news li:hover img{
    height: 20rem;
  }
  .news li:hover span{
    opacity: 1;
  }
  .news li:hover .new_btn{
    opacity: 1;
  }
  .news li:nth-child(1):hover img,
  .news li:nth-child(5):hover img
  {
    height: 19rem;
  }
  .news li:nth-child(4):hover img{
      height: 17rem;
  }
}

@media screen and (min-width:1200px) {

  /* section1 */
  .swiper-slide img {
  height: 40rem;
  object-fit: cover;
  }

  .swiper-slide:nth-child(1n) {
  width: 50%;
  }

  .swiper-slide:nth-child(2n) {
  width: 40%;
  }

  .mid_sec{
    width: 70rem;
    height: 10rem;
  }

  .mid_content{
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
  }
  .mid_content::before{
    content: '';
    bottom: 250%;
    position: absolute;
    width: 0.2rem;
    height: 20rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content::after{
    content: '';
    bottom: 120%;
    position: absolute;
    width: 60rem;
    height: 0.2rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid_content div{
    width: 30rem;
    height: 23rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    text-align: center;
    background-color: #E8E8E8;
    padding: 1rem;
  }
  .mid_content div:last-child{
  height: 23rem;
}
  h2.tit.info1{
    font-size: 2.4rem;
  }
  p.txt2.info1{
    font-size: 1.7rem;
    margin-top: 3rem;
    line-height: 3rem;
  }
  .mid_tit{
    font-size: 2.8rem;
    margin-top: 2rem;
  }
  
  .mid1::before{
    content: '';
    top: -20%;
    left: 17.5%;
    transform: translateX(-17%);
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background-color: #ddd;
    z-index: -1;
  }
  .mid3::before{
    content: '';
    top: -20%;
    right: 17.3%;
    transform: translateX(-17%);
    position: absolute;
    width: 0.2rem;
    height: 7rem;
    background-color: #ddd;
    z-index: -1;
  }

  /* section2 */
  .con_fir, .con_sec{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 40rem;
  }
  .con2, .con4 {
  transform: translateY(100px);
}

  .swiper02 .swiper-slide {
    width: 50%;
    height: 30rem;
  }

  .swiper_txt h3 {
    left: 10%;
    transform: translate(-10%, -45%);
    font-size: 2.4rem;
  }

  .swiper_txt p {
    top: 65%;
    font-size: 2rem;
    line-height: 3rem;
  }

  /* section3 */
.swiper02 .swiper-slide {
  width: 48%;
  height: 27rem;
}

  /* setion4 */
  .news li{
    width: 28rem;
    height: 35rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    background-color: #fff;
  }
  .news_text h3{
    font-size: 1.8rem;
  }
  .news_text span{
    font-size: 1.6rem;
  }
  .news .hidden {
  display: block; /* PC에서는 보임 */
}
}