@font-face {
  font-family: 'JSArirang-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirang-RegularA1.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.mob_only {
  display: block !important;
}
.dsk_only {
  display: none !important;
}

.footer-desktop {
  display: none;
}
.footer-mobile {
  display: block;
}


.main-visual {
  width: 100%;
  height: 60rem;
  overflow: hidden;
  position: relative;
  margin-top: -6.3rem;
}

/* 비디오 */
video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 60rem;
  object-fit: cover;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  animation: zoomIn 3s ease-in-out forwards;
  z-index: 0;
  pointer-events: none;
}

@keyframes zoomIn {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.2);
  }
}

/* 메인타이틀 */
.visual_title {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-top: -6.3rem;
}
.visual_title h2 {
  font-family: 'JSArirang-Regular';
  font-size: 10rem;
  margin: 0 auto;
  color: white;
  overflow: hidden;
  border-right: 2px solid white;
  width: 0;
  max-width: 6ch; 
  white-space: nowrap; 
  animation:
    typingEffect 2s steps(25, end) forwards, 
    blinkCursor 0.3s step-end 4 0.5s,  
    removeCursor 0.1s forwards 1.0s; 
}

@keyframes typingEffect {
  from { width: 0; }
  to { width: 6ch; } /* 5글자 전체 너비 */
}

@keyframes blinkCursor {
  0%, 50% { border-right-color: white; }
  51%, 100% { border-right-color: transparent; }
}

@keyframes removeCursor {
  to { border-right-color: transparent; }
}

.visual_title h3,
.visual_title .txt2{
  opacity: 0;
  transform: translateY(2rem);
  animation: fadeUp 1.2s ease-out forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.visual_title h3{
  animation-delay: 1s;
}
.visual_title .txt2{
  animation-delay: 2s;
}

/* 마우스 */
.visual_title, .mouse {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
}
.visual_title, .mouse {
  position: absolute;
  width: 100%;
  z-index: 1;
  color: white;
  text-align: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; 
  height: 60rem;
  background: rgba(0, 0, 0, 0.3); 
  z-index: 1;
  margin-top: 6.2rem;
}

/* 마우스 스크롤 */


@keyframes mouse-wheele-ani{
  0% {transform: translateY(0);}
	50% {transform: translateY(-1rem);}
	100% {transform: translateY(0);}
}

.mouse{
  position: absolute;
  bottom: 9rem;
  left: 50%;
	transform: translateX(-50%);
}
.mouse .mouse_wheele{  
  border: 2px solid #fff;
  width: 3.2rem;
	height: 4.5rem;
  border-radius: 3rem;
  position: relative;
  margin: auto;
}
.mouse .mouse_wheele:before{ 
  content: '';
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-50%,-50%);
  width: 0.4rem;
  height: 1rem;
  background-color: #fff;
  border-radius: 0.5rem;
  animation: mouse-wheele-ani 1.2s linear infinite;
}
.mouse span{
  color: #fff;
	font-size: 1.2rem;
  margin-top: 1rem;
/*   border: 1px solid #000; */
  display: block;
}


/* section1 */
.set_tit{text-align: center;}
.set_tit h2{margin: 4rem auto 0rem;}
.set_tit p{
  font-size: 1.8rem;
  margin: 2rem auto 0.5rem;
}
.set_tit span{
  font-size: 1.6rem;
  margin-bottom: 6rem;
  display: block;
}
a.con_btn.main1 {
  background-color: #121212;
  border-color: #121212;
  margin-top: 1rem;
}
  .set_tit img {
  display: block;
  margin: 0 auto;
  }

.btn_area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

/* section2 */
#section2 .tit{
  text-align: center;
}
.tabs{
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  column-gap: 2rem;
  margin: 3rem auto;
}
/* 탭 활성화 상태 */
.tabs .tab.active {
  font-weight: bold;
  color: #000;
}

.tab{
  color: #737373;
  cursor: pointer;
}
.tab.active{
  color: #121212;
  font-weight: 600;
}

.tab_img{
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-height: 30rem;
  overflow: hidden;
}

.tab_img img{
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  height: 60%;
  transform: scale(0.9);
  z-index: 0;
  margin-bottom: 4rem;
}

.tab_img img.active {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
}

.tab_content li {
  display: none;
}

.tab_content li.active {
  display: block;
}

.tab_content.mob_only {
  position: relative;
  overflow: visible;
  min-height: 10rem; 
  margin-top: 2rem;
}

.tab_content.mob_only li {
  text-align: center;
  width: 100%; 
  transition: opacity 0.3s ease, visibility 0.3s ease;  
}

.tab_content.mob_only li p {
  margin-bottom: 1.5rem; 
  line-height: 1.5; 
}

.tab_content.mob_only li span {
  display: inline-block;
  font-size: 1.3rem;
  width: 9rem;
  color: #737373;
  margin-top: 1rem;
  padding: 0.7rem;
  border-radius: 3rem;
  background-color: #ddd;
}

a.con_btn.main2 {
  background-color: #fff;
  color: #b32828;
  margin-top: 3rem;
}

/* section3 */
.sec_tit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
}
.sec_tit h2{text-align: center;}

.tit_right .txt2 {
  font-size: 1.3rem;
  line-height: 1.6;
  color: #333;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  margin: 2rem auto 0;
  text-align: center;
}
.tit_right .txt2 {
  animation: pulse 3s infinite ease-in-out;
}

.highlight {
  color: #0055cc;
  font-weight: 800;
  text-shadow: 0 0 5px #0055ccaa;
}

@keyframes pulse {
  0%, 100% {
    text-shadow: 0 0 5px #0055ccaa;
    color: #003366;
  }
  50% {
    text-shadow: 0 0 15px #3399ff;
    color: #0066ff;
  }
}

.tit_left .tit{
  margin-bottom: 0.5rem;
}
.tit_right .sec_txt{
  font-size: 1.3rem;
  line-height: 2.0rem;
}
.rolling {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
  margin: 2rem auto;
}

.rolling li {
  position: absolute;
  height: 5rem;
  width: 100%;
  max-width: 40rem;
  border-radius: 1rem;
  text-align: center;
  line-height: 5rem;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.35s ease-in-out;
  color: #333;
}

/* 현재 */
.rolling li.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
  background-color: #e6f2ff;
  border: 1px solid #ccc;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  font-size: 1.4rem;

}
/* 이전 */
.rolling li.prev {
  top: 4rem;
  opacity: 0.4;
  transform: scale(0.9);
  z-index: 1;
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

/* 다음 */
.rolling li.next {
  top: 11rem;
  opacity: 0.5;
  transform: scale(0.9);
  z-index: 1;
  background-color: #f0f9ec;
  border: 1px solid #ddd;
}

.scroll_wrap{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.scroll_img{
  display: flex;
  flex-wrap: nowrap;
  width: max-content; 
}
.scroll_img img{
  width: 10rem;
}
.scroll_fir, .scroll_th{
  animation: scroll_left 30s infinite alternate linear;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}
.scroll_th{
  animation-delay: 1s;
}
.scroll_sec{
  animation: scroll_right 20s infinite alternate linear;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
}

@keyframes scroll_left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

@keyframes scroll_right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}

.recommend_img {
  text-align: center;
  max-width: 100%;
  padding: 2rem;
}

.bottle-wrap {
  position: relative;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}

.svg_wrap {
  position: absolute;
  top: -100%;
  right: -15%;
  width: 100vw;
  height: 100rem;
  z-index: -1;
  pointer-events: none;
}
.svg_wrap svg {
  width: 100%;
  height: 100%;
  display: block;

}
.svg1 {
  stroke-width: 60;
  stroke: #dddddd;
  fill: none;
  stroke-dasharray: 78162;
  stroke-dashoffset: 78162;
  animation: svg-ani 3s ease forwards, svg-fadeout 1s ease 4s forwards;
  z-index: -1;
}
@keyframes svg-ani {
    from { stroke-dashoffset: 78162; }
  to {
    stroke-dashoffset: 0;
  }
}

.bottle-main {
  width: 100%;
  height: auto;
  z-index: 1; 
}

.recommend_img h4{
  font-size: 1.8rem;
  margin-bottom: 2rem;
}
.data{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  margin-top: 2rem;
}
.data h4{
  width: 10rem;
  border: 1px solid #000;
  background-color: #121212;
  color: #fff;
  height: 4rem;
  border-right: none;
  text-align: center;
  line-height: 3.5rem;
  font-size: 1.4rem;
}
.data span{
  border: 1px solid #000;
  background-color: #fff;
  display: block;
  width: 100%;
  max-width: 30rem;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 1.4rem;
}
.data_info{
  margin-top: 4rem;
  text-align: center;
}
.data_info p{
    font-size: 1.4rem;
    color: #333;
  }

/* 태블릿_______________________________________ */
@media screen and (min-width:768px) {
  .mob_only {
    display: none !important;
  }

  .dsk_only {
    display: block !important;
  }


  .main-visual {
    height: 100vh;
    margin-top: 6.3rem;
  }
  video{height: 100vh;}
  main::before {height: 100vh;}


  .visual_title h2{
    font-size: 10rem;
  }

  .visual_title h3{
    font-size: 3rem;
    margin: 2rem auto;
  }

  /* section2 */
  #section2 .rel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: flex-start;
  }
  .tabs{
    flex-direction: column;
    align-items: flex-start;
    width: 15rem;
    gap: 2rem;
    
  }
  a.con_btn.dsk_only{
    width: 11rem;
    height: 4.0rem;
    text-align: center;
    line-height: 4.0rem;
  }
  .tab_img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
  }

  .tab_img img {
    position: relative;
    max-width: 20rem;
    max-height: 100%;
    display: block;
    margin-bottom: 7rem;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  .tab_content.dsk_only {
    position: absolute;
    bottom: -4%;
    width: 100%;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
  }

  .tab_content.dsk_only li p.txt_sm{
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    z-index: 6;
  }
  .tab_content.dsk_only li span{
    font-size: 1.3rem;
    color: #737373;
  }
  .tab_img {
    position: relative;
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .tab_img img {
    position: absolute;
    opacity: 0;
    transition: all 0.5s ease;
    max-width: 20rem;
    max-height: 100%;
  }
  
  /* 중앙 이미지 (선택된 탭) */
  .tab_img img.active {
    opacity: 1;
    left: 50%;
    transform: translateX(-50%) scale(1);
    z-index: 3;
  }
  
  /* 왼쪽에 표시되는 이미지 */
  .tab_img img.prev {
    opacity: 0.6;
    left: 15%;
    transform: translateX(-50%) scale(0.8);
    z-index: 2;
  }
  
  /* 오른쪽에 표시되는 이미지 */
  .tab_img img.next {
    opacity: 0.6;
    left: 85%;
    transform: translateX(-50%) scale(0.8);
    z-index: 2;
  }

  /* section3 */

  .sec_tit{
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.sec_tit h2{text-align: left;}

.tit_right .txt2 {
  font-size: 1.8rem;
  line-height: 2rem;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  max-width: 40rem;
  margin: 2rem auto 0;
  text-align: center;
}
.tit_right .txt2 {
  animation: none
}

.highlight {
  color: #0055cc;
  font-weight: 800;
  text-shadow: none;
}
  .rolling li.prev,
  .rolling li.next {
    display: none !important;
  }

  .rolling li.active {
    top: 7rem;
    background: #ffffff;
    border: 1px solid #e3e3e3;
    border-radius: 2rem;
    box-shadow: 0 0.4rem 1.2rem rgba(0, 0, 0, 0.1);
    font-size: 1.7rem;
    color: #333;
    padding: 0 2rem;
    top: 7rem;
    animation: box-effect-ani 3s infinite ease-in-out;
  } 

  @keyframes box-effect-ani {
  0%, 100% {
    box-shadow: 0 0 5px #0055ccaa;
    color: #003366;
  }
  50% {
    box-shadow: 0 0 15px #3399ff;
    color: #0066ff;
  }
}
  .scroll_img img{
  width: 15rem;
  }

/* section4 */
  .svg_wrap {
    top: -50%;
    right: -95%;
  }
  .bottle-wrap img{
    width: 100%;
    height: 38rem;
    object-fit: cover;
  }
  .recommend_info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
  }
  .data h4{
    width: 13rem;
  }
  .data span{
    min-width: 13rem;
  }
  .data_info{
    text-align: left;
  }
  .data_info p{
    font-size: 1.6rem;
  }
}

/* pc________________________________ */
@media screen and (min-width:1200px) {
  .main-visual {
    height: 100vh;
    margin-top: 6.3rem;
  }
  
  .btn_area{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    
  }
  a.con_btn.main1{
    margin-top: 0;
  }

/* section1 */
.set_tit p{
  font-size: 2.4rem;
}
.set_tit span{
  font-size: 2rem;
}

a.con_btn.main1 {
  background-color: #121212;
  border-color: #121212;
  margin-top: 1rem;
}

.btn_area{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem auto;
}

/* section2 */
  #section2 .tit{
    text-align: center;
  }

  .tabs{
    flex-direction: column;
    align-items: flex-start;
    width: 20rem;
    gap: 2rem;
    margin-left: 4rem;
  }
  .tab{
    font-size: 2rem;
  }


  .tab_content.dsk_only {
    bottom: -8%;
    padding: 2.5rem;
  }

  .tab_content.dsk_only li p.txt_sm{
    font-size: 2rem;
  }
  .tab_content.dsk_only li span{
    font-size: 1.6rem;
    margin-right: 0.9rem;
  }


  .tab_img {
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  /* section3 */

  .tit_right .txt2 {
    font-size: 2rem;
    line-height: 2.5rem;
    max-width: 45rem;
  }
    .rolling li.active {
    font-size: 2rem;
  } 
    .rolling li {
    height: 6rem;
    line-height: 6rem;
    max-width: 50rem;
    }

  .scroll_img{
  display: flex;
  flex-wrap: nowrap;
  width: 100%;      
  object-fit: cover;
  }
  .scroll_th{display: none;}

  /* section4 */
  .svg_wrap {
    top: -50%;
    right: -280%;
  }
  .bottle-wrap img{
    width: 100%;
    height: 42rem;
    object-fit: cover;
  }
  .recommend_info{
    justify-content: center;
  }
  .recommend_img h4{
    font-size: 2.6rem;
  }
  .data h4{
    width: 15rem;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.8rem;
  }
  .data span{
    min-width: 15rem;
    font-size: 2rem;
    height: 4.5rem;
    line-height: 4.5rem;
  }
  .data_info{
    text-align: left;
    line-height: 3.5rem;
    margin: 1.5rem 1rem 0;
  }
  .data_info p{
    font-size: 2.2rem;
  }

  
}
