@media screen and (min-width:768px) {
  html {font-size: 68.8%;}
  .dsk_only{display: none;}

  /* Header */
  header{
    height: 6.5rem;
    padding: 0;
  }
  .rel{
    max-width: 120rem;
    margin: auto;
  }
  header .rel{
    max-width: 144rem;
    align-items: center;
  }
  .header_left{
    display: flex;
    align-items: center;
  }
  .header_tit a{
    min-height: 1.6rem;
    margin-right: 2.7rem;
    position: relative;
  }
  .header_logo {
    display: block;
    /* border: 1px solid #000; */
  }
  .header_right{display: flex;}

  .h_nav{display: flex;}
  .h_nav li {
    display:  none
  }
  .h_nav .site_group {
    width: 20rem;
    display: block;
  }
  .site_group .site_inner{
    display: flex;
    justify-content: center;
  }
  .h_nav .site_group a {
    font-size: 1.6rem !important;
    margin-right: 1rem;
  }
  .mob_btn span{
    background-color: #000;
  }
}


@media screen and (min-width:1200px) {
  html{font-size: 62.5%;} 
  .mob_btn{display: none;}  
  /* Header */
  header{
    height: 6.5rem;
    padding: 0;
  }
  .rel{
    max-width: 120rem;
    margin: auto;
  }
  header .rel{
    max-width: 144rem;
    align-items: center;
  }
  .header_left{
    display: flex;
    align-items: center;
  }
  .header_tit a{
    min-height: 1.6rem;
    margin-right: 2.7rem;
    position: relative;
  }
  .header_logo {
    display: block;
    /* border: 1px solid #000; */
  }
  .header_right{display: flex;}

  .h_nav{display: flex;}
  .h_nav li{
    margin-left: 2.5rem;
    display: block;
  }
  .h_nav li a {
    display: block;
    padding: 1rem;
    line-height: 2.2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: #000;
  }

  
  .h_nav .site_group {
    width: 20rem;
    display: flex;
    justify-content: flex-end;
  }
  .h_nav .site_group a {
    font-size: 1.6rem !important;
  }

  footer .mob_only{display: none;}
  footer .dsk_only{display: block;}
  footer{
    padding: 0;
    text-align: left;
  }

  .footer-logo img{
    width: 15rem;
    margin: 2.0rem auto;
  }
  .ft-menu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.0rem;
  }
  
  .ft-menu li{
    width: 15rem;
    height: 3.0rem;
    line-height: 3.0rem;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
  }
    .ft-menu li:first-child{
      width: 9rem;
    }
    .ft-content{
      color: #ddd;
      font-size: 1.2rem;
      margin-top: 1.0rem;
    }
    address{
      color: #999;
      padding : 1.0rem 0 2.0rem;
      font-size: 1.0rem;
      font-style: normal;
    }
}