* common */
  #section0 h2.tit,
  h2.tit{
    font-size: 3.6rem; 
    line-height: 3rem;
    font-weight: 600;
    letter-spacing: -0.2rem;
  }
  h2.tit b{ 
    font-size: 4.8rem;
    line-height: 3.7rem;
    font-weight: 700;
  }

  p.txt1 {font-size: 2.4rem;}
  p.txt2 {font-size: 2.0rem;}
  
  /* 버튼 */
  a.con_btn {
    background-color: #b32828;
    border: 1px solid #b32828;
    color: #fff;
    display: flex;
    width: 45rem;
    height: 5.6rem;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 500;
    border-radius: 1.2rem;
  }