@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css');

.dsk_only {
  display: none !important;
}
#section0{
  text-align: center;
  padding: 3rem 2rem;
  border-bottom: 1px solid #ccc;
  height: 32.1rem;
  margin-top: 6.3rem;
}
#section0 .tit{
    margin: 4rem auto 2rem;
}
.set_tit{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.set_tit p{text-align: center;}

.set_tit div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: 1px solid #000;
  width: 38rem;
  height: 5rem;
  font-size: 1.2rem;
  line-height: 5rem;
  border-left: none;
  border-right: none;
  margin-top: 2rem;
}
.divider {
  color: #999;
}

.form {
  max-width: 50rem;
  margin: 0 auto;
}

.form-flex {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.form-flex .form-row,
.form > .form-row {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-row label {
  font-weight: 600;
  margin-bottom: 0.8rem;
  font-size: 1.5rem;
  color: #333;
}
.form-row label em{
  color: crimson;
}
.form-row input,
.form-row select {
  padding: 1rem 1.4rem;
  border: 1px solid #ccc;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  transition: border-color 0.3s ease;
  box-sizing: border-box;
  width: 100%;
}

.form-row input:focus,
.form-row select:focus {
  border-color: #666;
  outline: none;
}
.user-check {
  font-size: 1.2rem;
  color: #333; 
  padding-left: 0.1rem;
}

.accordion{
    margin: 2rem auto;
  }

  .accordion .title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    background-color: #e8e8e8;
    margin-bottom: 2rem;
    height: 5rem;
    border-radius: 1rem;
  }
  .accordion{
    margin: 12rem auto 10rem;
  }
  .accordion .title:after {
  content: '\f078'; /* 아래쪽 화살표 */
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  display: inline-block;
  margin: 4rem 2rem;
  font-size: 2rem;
  transition: transform 0.35s;
}
.accordion .title.active:after {
  transform: rotate(180deg);
}

  .accordion .desc {display: none;}
  .accordion .content.active{display: block;}

  .desc{
    border: 1px solid #ECECEC;
    max-height: 36rem;
    margin-bottom:3rem;
    border-radius: 1rem;
    background-color: #F8F8F8;
  }
  .desc.exc {height: 40rem}

  .desc strong{
    margin: 2rem 4rem 0;
    display: block;
    font-size: 1.5rem;
  }
  .desc p{
    margin: 1rem 4rem 1rem;
    display: block;
    line-height: 2.5rem;
  }

  .desc p em{
    font-style: normal;
    font-weight: bold;
  }

  .acco_txt{
    font-size: 1.3rem;
  }
  input[name=event]{
    margin: 1rem;
  }

.notice{
  height: 25rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #F8F8F8;
}

.notice_txt{
  margin-top: 1.8rem;
  font-size: 1.3rem;
  line-height: 2.2rem;
}

.notice_btn{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.infor_txt{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}
.infor_txt h3{
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1rem;
}
.info_flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-top: 2rem;
  height: 10rem;
  background-color: #F8F8F8;
}
#section2 .rel{
  padding-bottom: 10rem;
}
#map {
  max-width: 100%;
  margin: 4rem auto;
  border-radius: 1rem;
  overflow: hidden;
}

.map-frame {
  width: 100%;
  max-width: 60rem;
  height: 40rem;
  border: none;
  display: block;
}

/* 태블릿_______________________________________ */
@media screen and (min-width:768px) {
  .dsk_only {
    display: block !important;
  }

  .sec-tit{
    margin-left: 6rem;
  }
  .set_tit div{
  width: 45rem;
  font-size: 1.6rem;
  }

  .accordion{
    max-width: 60rem;
  }
  .desc.exc {height: 25rem}
  .notice{
    max-width: 60rem;
    margin: auto;
  }
  .notice_txt{
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
  }

  .user-check {
    font-size: 1.5rem;
    color: #333; 
    padding-left: 0.1rem;
  }

   /* section2 */
  #section2 {
    position: relative;
    padding: 10rem 0 15rem;
    overflow: visible; 
  }

  .information {
    position: relative; /* 기준점으로 설정 */
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    margin-top: 7rem;
  }

  .infor_txt {
    flex: 1;
    z-index: 2;
    margin-left: 6rem;
  }

  .infor_txt{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: left;
  }
  .infor_txt h3{
    font-size: 2rem;
    color: #333;
    margin-bottom: 1rem;
  }
  .infor_txt .txt2{
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }

  .info_flex{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 5rem;
  gap: 1rem;
  z-index: 1;
  background-color: #fff;
}
  
  #map {
    position: absolute;
    top: -4rem;
    right: -10rem;
    width: 50rem;
    height: 45rem;
    border-radius: 3rem 0 0 0;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
  }
  
  .map-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
  }
  
}
@media screen and (min-width:1200px) {
  .sec-tit{
    margin-left: 20rem;
    margin-bottom: 4rem;
  }
  .form{
    max-width: 75rem;
  }
  .accordion{
    max-width: 80rem;
  }
  .desc.exc {height: 20rem}
  .notice{
    max-width: 80rem;
    margin: auto;
  }
  #map{
      position: absolute;
      top: -8rem;
      right: -10rem;
      width: 60rem;
      height: 50rem;
      border-radius: 3rem 0 0 0;
      overflow: hidden;
      z-index: 3;
      box-shadow: 0 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);
    }
}


