@import url(reset.css);
@import url(common.css);
@import url(font.css);
@import url(header.css);
@import url(smenu.css);



img, video, iframe {
  max-width: 100%;
  height: auto;
  display: block;
}

body, html {
  overflow-x: hidden; /* 좌우 스크롤 숨김 */
}

/* 레이아웃 박스들도 너비 100% 안 넘도록 */
.container {
  max-width: 100%;
  box-sizing: border-box; /* 패딩과 테두리 포함해서 너비 계산 */
}

/* .rel > * {
  opacity: 0;
  transform: translateY(30px);
} */